---
import BaseLayout from "@/layouts/BaseLayout.astro"
import { cn } from "@/lib/utils"
import { CldImage } from "astro-cloudinary"
import type { CollectionEntry } from "astro:content"
import { getEntry } from "astro:content"

const { slug } = Astro.params

const post = (await getEntry("posts", slug as string)) as CollectionEntry<"posts">

if (!post) {
  Astro.redirect("/404")
}

const { Content } = await post.render()

const banner = await getEntry("blogImages", post.data.bannerId)
---

<BaseLayout title={post.data.title}>
  <div class="container">
    <div class="mx-auto max-w-3xl py-5 md:pb-10">
      <div class="relative">
        {
          banner && (
            <CldImage
              src={banner.data.public_id}
              width={banner.data.width}
              height={banner.data.height}
              alt={banner.data.context?.custom.alt || ""}
            />
          )
        }
      </div>
      <div
        class={cn(
          "mx-6 flex flex-col justify-center gap-4 bg-white px-5 py-5 text-center shadow-lg md:py-7 lg:px-7",
          banner && "relative -mt-16"
        )}
      >
        <h1 class="blog-preview-heading">
          {post.data.title}
        </h1>
        <span class="content-label text-xs md:text-sm">
          {post.data.date} &mdash;{" "}
          <span class="text-accent-foreground">{post.data.category}</span>
        </span>
      </div>
    </div>
    <div
      class="prose-p:body-text prose-headings:heading prose mx-auto max-w-prose prose-headings:mt-0 prose-headings:text-start prose-headings:text-2xl prose-p:text-lg"
    >
      <Content />
    </div>
  </div>
</BaseLayout>
