---
import FrameContainer from "./FrameContainer.astro"
import { CheckCircle } from "@/icons"
import { PackageModal } from "./PackageModal"
import ContactForm from "./ContactForm.astro"
import type { PackageType } from "@/lib/types"
import { CldImage } from "astro-cloudinary"
import { getEntry } from "astro:content"

type Props = {
  servicePackage: PackageType
}

const { servicePackage } = Astro.props

const image = await getEntry("packages", servicePackage.imageId)
---

<FrameContainer
  background="secondary"
  className="w-full gap-12 px-7 pb-16 pt-7 lg:flex-col lg:px-4 lg:pt-4 xl:px-7"
>
  <CldImage src={image.data.public_id} width={image.data.width} height={image.data.height} alt="" />
  <div class="flex flex-col-reverse gap-3">
    <h3 class="text-uppercase text-heading-foreground">{servicePackage.name}</h3>
    <span class="text-uppercase text-4xl font-normal text-heading-foreground"
      >{servicePackage.price}$</span
    >
  </div>

  <ul class="body-text-sm mx-auto flex flex-col gap-1">
    {
      servicePackage.services.map((service) => (
        <li class="flex items-center gap-3">
          <CheckCircle /> {service}
        </li>
      ))
    }
  </ul>
  <PackageModal packageName={servicePackage.name} client:load>
    <ContactForm submitText="Book" />
  </PackageModal>
</FrameContainer>
